<div>
  <h4>{{ images[currentPage].title }}</h4>
  <img width="500" height="300"  [src]="images[currentPage].url" />
</div>


<nav>
  <ul class="pagination">
    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === 0 }"
      (click)="onSwitch(getSwitch.PREV)"
    >
      <a style="cursor: pointer" class="page-link">Prev</a>
    </li>

    <ng-container *ngFor="let image of images; let i = index">
      <li
        class="page-item"
        *ngIf="checkWindowIndex(i)"
        [ngClass]="{ active: i === currentPage }"
      >
        <a
          style="cursor: pointer"
          (click)="onPageNumberClick(i)"
          class="page-link"
          >{{ i + 1 }}</a
        >
      </li>
    </ng-container>

    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
      (click)="onSwitch(getSwitch.NEXT)"
    >
      <a style="cursor: pointer" class="page-link">Next</a>
    </li>
  </ul>
</nav>


<!--
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav> 
-->
