<div class="container is-fluid mt-5">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title is-3 has-text-centered">Typing Challenge</h1>

      <!-- <p class="has-text-centered">{{ randomText }}</p> -->

      <!-- Way 1 -->
      <!-- <p class="has-text-centered">
        <span
          *ngFor="let char of randomText.split(''); let i = index"
          [style.color]="
            char === enteredText[i]
              ? 'green'
              : enteredText[i] === undefined
              ? 'grey'
              : 'red'
          "
          [innerText]="char"
        ></span>
      </p> -->

      <!-- Way 2 -->
      <p class="has-text-centered">
        <span
          *ngFor="let char of randomText.split(''); let i = index"
          [class]="compare(char, enteredText[i])"
          >{{ char }}</span
        >
      </p>

      <div class="control">
        <input
          class="input mt-3"
          type="text"
          placeholder="Enter text"
          (input)="onTextInput($event)"
          (keydown)="onKeyDown($event)"
        />
      </div>
      @if(enteredText == randomText) {
      <h1 class="title is-5 mt-3 has-text-centered has-text-success">
        You Win
      </h1>
      }
    </div>
  </div>
</div>
